.hbox .button {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-border-style: none;
    -fx-background-color: "transparent";
}

.hbox .button:hover {
    -fx-text-fill: black;
}

.hbox {
    -fx-font-family: "Century Gothic";
    -fx-padding: 4px;
    -fx-border-color: black;
    -fx-border-width: 0px 0px 2px 0px;
    -fx-background-color: linear-gradient(to right, #ffa411 0%, rgb(247, 216, 14) 74%);
}

.anchorPane {
    -fx-background-color: white;
    -fx-font-family: "Century Gothic";
    -fx-border-width: 0px 0px 0px 2px;
    -fx-border-color: black;
}

.anchorPane .button {
    -fx-font-size: 15px;
    -fx-border-color: #000000;
    -fx-border-width: 2px;
    -fx-border-radius: 2px;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(to right, #ffa411 0%, rgb(247, 216, 14) 74%);
    -fx-text-fill: #000000;
}

.anchorPane .button:hover {
    -fx-text-fill: white;

}

.anchorPane .label {
    -fx-font-size: 15px;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}




